.img-box {
    width: 95%;
    margin: 2em auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    /* border: 5px solid lightblue; */
    outline: 5px solid blue;
    outline-offset: 10px;
}

p {
    position: absolute;
    color: red;
    font-size: 3em;
}